body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1e1c2;
}

header {
    
    background-color: #f1e1c2;
    color: #643d11;
    
    border-bottom: 2px solid #643d11;/* Header 아래에 경계선 */
    
    width: 100%;
    position: relative;
    
}

h1 {
    font-size: 70px;
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    text-align: right;
    margin-right: 100px;
}

main {
   
    
    box-sizing: border-box;
}



footer {
    background-color: #f1e1c2;
    color: #643d11;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #643d11;
    margin-top: 0;
}

div {
    
    text-align: left;
    width: 700px;
    margin-bottom: 0;
    height: 100px;
    border: 1px solid #643d11;
    margin-top: 0px;
    gap: 0px;
    padding: 2px;
    position: relative;
    
}

#one {
    margin-top: 50px;
    margin-left: 30px;
}

.checkbox-text {
    margin-left: 30px;
    font-size: 30px;
    color: #643d11;
}

.disk {
    position: absolute;        /* 절대 위치로 배치 */
    top: 50%;                  /* div의 수직 중앙에 정렬 */
    transform: translateY(-50%); /* 이미지 세로 정중앙 맞춤 */
    right: 0;              /* 브라우저 오른쪽에 고정되도록 조정 */
    width: 550px;             /* 이미지 크기 설정 */
    margin-right: 100px;              
}



